<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="302" android:versionName="3.02" package="cn.centurywar.undercover">

    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name="cn.centurywar.undercover.SelectGameActivity">
           
        </activity>
        <activity android:name="cn.centurywar.undercover.local_fanpai">
        </activity>
        <!-- android:screenOrientation屏幕方向 -->
        <activity android:name="cn.centurywar.undercover.QuestionAnswer" android:screenOrientation="portrait">
        </activity>
        <activity android:name="cn.centurywar.undercover.local_guess">
        </activity>
        <activity android:name="cn.centurywar.undercover.local_click">
        </activity>
        <activity android:name="cn.centurywar.undercover.local_bottle">
        </activity>
        <activity android:name="cn.centurywar.undercover.home_page">
        </activity>
        <activity android:name="cn.centurywar.undercover.weixin">
        </activity>
        <activity android:name="cn.centurywar.undercover.kill">
        </activity>
        <activity android:name="cn.centurywar.undercover.net_punish">
        </activity>
        <activity android:name="cn.centurywar.undercover.homegame">
        </activity>
        <activity android:name="cn.centurywar.undercover.net_home">
        </activity>
        <activity android:name="cn.centurywar.undercover.net_room_create">
        </activity>
         <activity android:name="cn.centurywar.undercover.net_room_willstart">
        </activity>
         <activity android:name="cn.centurywar.undercover.net_room_game">
        </activity>
          <activity android:name="cn.centurywar.undercover.net_room_punish">
        </activity>
        <activity android:name="cn.centurywar.undercover.local_setting">
        </activity>
        <activity android:name="cn.centurywar.undercover.local_punish">
        </activity>
         <activity android:name="cn.centurywar.undercover.local_punish_list">
        </activity>
        <activity android:name="cn.centurywar.undercover.setting">
        </activity>
        <activity android:name="cn.centurywar.undercover.homepage">
        </activity>
        <activity android:name="cn.centurywar.undercover.feedback">
        </activity>
         <activity android:name="cn.centurywar.undercover.homeguide">
        </activity>
         <activity android:name="cn.centurywar.undercover.mail_list">
        </activity>
          <activity android:name="cn.centurywar.undercover.net_room_join">
        </activity>
          <activity android:name="cn.centurywar.undercover.setting_username">
        </activity>
          <activity android:name="cn.centurywar.undercover.local_push">
        </activity>
         <activity android:name="cn.centurywar.undercover.home">
              <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.umeng.fb.ConversationActivity"/>
        <activity android:name="com.umeng.fb.ContactActivity"/>
        <activity android:name="com.umeng.fb.ContributionActivity"/>
        <activity android:name="cn.centurywar.undercover.DiceActivity"/>
        <meta-data android:name="UMENG_APPKEY" android:value="5476c767fd98c5a3ce000eb9">
        </meta-data>
        <meta-data android:name="UMENG_CHANNEL" android:value="Marketbaidu"/>
        <activity android:name="cn.centurywar.undercover.ContributionActivity"/>

        
	 <!-- ###################注册SDK使用的Activity###################### -->
        <!--分享编辑页-->
        <activity android:configChanges="orientation|keyboard" android:launchMode="singleTask" android:name="com.umeng.socialize.view.ShareActivity" android:noHistory="true" android:theme="@style/Theme.UMDialog" android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>        
        
        
        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity android:launchMode="singleTask" android:name="com.tencent.tauth.AuthActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID-->
                <data android:scheme="tencent100424468"/> 
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        
        
        
         <!-- 极光推送配置开始 -->
          
           <service android:enabled="true" android:exported="false" android:name="cn.jpush.android.service.PushService">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>
        
 	<receiver android:enabled="true" android:name="cn.jpush.android.service.PushReceiver">
          <intent-filter android:priority="1000"> <!--since 1.3.5 -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/> <!--since 1.3.5 -->
                <category android:name="cn.centurywar.undercover"/> <!--since 1.3.5 -->
            </intent-filter> <!--since 1.3.5 -->
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
       </receiver>
        
        <activity android:configChanges="orientation|keyboardHidden" android:name="cn.jpush.android.ui.PushActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="cn.centurywar.undercover"/>
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能-->
        <service android:enabled="true" android:exported="false" android:name="cn.jpush.android.service.DownloadService">
        </service>
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver"/>
      
        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。-->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data android:name="JPUSH_APPKEY" android:value="1fca24a4ae00341567e84792"/> 
 <!-- 极光推送配置开始 -->
        
        
<activity android:name="cn.centurywar.undercover.net_punish_add"/>
<activity android:name="cn.centurywar.undercover.net_changename"/>

<activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name=".wxapi.WXEntryActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
<activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name=".yxapi.YXEntryActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
<activity android:configChanges="orientation|navigation|keyboardHidden" android:name="com.renn.rennsdk.oauth.OAuthActivity"/>
</application>

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.INTERNET"/>
<!-- 访问网络 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
<!-- 取WIFI状态 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<!-- 写外部存储 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>
<!-- 读系统日志 -->
	<uses-permission android:name="android.permission.VIBRATE"/>
<!-- 使用振动 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>  <!-- 用于评论模块分享位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
<!-- 用于评论模块分享位置信息 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
<!-- 显示系统窗口 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
<!-- 允许一个程序获取信息有关当前或最近运行的任 -->
    <permission android:name="cn.centurywar.undercover.permission.JPUSH_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="cn.centurywar.undercover.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
<!--    
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
     --> 
    
<uses-permission android:name="android.permission.SET_DEBUG_APP"/>
<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
<uses-permission android:name="android.permission.USE_CREDENTIALS"/>
<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
</manifest>
