<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.undercover"
    android:versionCode="1"
    android:versionName="1.04" >
   
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.undercover.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.undercover.fanpai" >
        </activity>
        <!-- android:screenOrientation屏幕方向 -->
        <activity
            android:name="com.example.undercover.QuestionAnswer"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.example.undercover.UnderCoverContent" >
        </activity>
        <activity android:name="com.example.undercover.guess" >
        </activity>
        <activity android:name="com.example.undercover.random_50" >
        </activity>
        <activity android:name="com.example.undercover.RotaryBottleActivity" >
        </activity>
        <activity android:name="com.example.undercover.PunishActivity" >
        </activity>
        <activity android:name="com.example.undercover.home_page" >
        </activity>
        <activity android:name="com.example.undercover.weixin" >
        </activity>
        <activity  android:name="com.example.undercover.Setting" >
        </activity>
        <activity  android:name="com.example.undercover.MakeActivity" >
        </activity>
        
 		<meta-data android:value="5206311756240b10f70a9558" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="TEST" android:name="UMENG_CHANNEL"/>
    </application>
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="9" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
</manifest>