<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.undercover"
    android:versionCode="301"
    android:versionName="3.01" xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.undercover.SelectGameActivity"
            android:label="@string/app_name" >
           
        </activity>
        <activity android:name="com.example.undercover.local_fanpai" >
        </activity>
        <!-- android:screenOrientation屏幕方向 -->
        <activity
            android:name="com.example.undercover.QuestionAnswer"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.example.undercover.UnderCoverContent" >
        </activity>
        <activity android:name="com.example.undercover.local_guess" >
        </activity>
        <activity android:name="com.example.undercover.local_click" >
        </activity>
        <activity android:name="com.example.undercover.local_bottle" >
        </activity>
        <activity android:name="com.example.undercover.PunishActivity" >
        </activity>
        <activity android:name="com.example.undercover.Push" >
        </activity>
        <activity android:name="com.example.undercover.home_page" >
        </activity>
        <activity android:name="com.example.undercover.PullFingerActivity" >
        </activity>
        <activity android:name="com.example.undercover.weixin" >
        </activity>
        <activity android:name="com.example.undercover.Setting_old" >
        </activity>
         <activity android:name="com.example.undercover.HomeActivity" >
        </activity>
         <activity android:name="com.example.undercover.KillGuess" >
        </activity>
        <activity android:name="com.example.undercover.MakeActivity" >
        </activity>
        <activity android:name="com.example.undercover.kill" >
        </activity>
        <activity android:name="com.example.undercover.KillSetting" >
        </activity>
        <activity android:name="com.example.undercover.WordSetting" >
        </activity>
        <activity android:name="com.example.undercover.HttpMain">
        </activity>
        <activity android:name="com.example.undercover.homegame">
        </activity>
        <activity android:name="com.example.undercover.net_home">
        </activity>
        <activity android:name="com.example.undercover.net_room_create">
        </activity>
         <activity android:name="com.example.undercover.net_room_willstart">
        </activity>
         <activity android:name="com.example.undercover.net_room_game">
        </activity>
          <activity android:name="com.example.undercover.net_room_punish">
        </activity>
        <activity android:name="com.example.undercover.local_setting">
        </activity>
        <activity android:name="com.example.undercover.setting">
        </activity>
         <activity android:name="com.example.undercover.HomeNew">
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.umeng.fb.ConversationActivity" />
        <activity android:name="com.umeng.fb.ContactActivity" />
        <activity android:name="com.umeng.fb.ContributionActivity" />
        <activity android:name="com.example.undercover.DiceActivity" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5206311756240b10f70a9558" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="MarketWandoujia" />
        <activity android:name="com.example.undercover.ContributionActivity"></activity>

        
	 <!-- ###################注册SDK使用的Activity###################### -->
        <!--分享编辑页-->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>        
        
        
        
         <!-- 极光推送配置开始 -->
          
           <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        
 	<receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
          <intent-filter android:priority="1000"> <!--since 1.3.5 -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!--since 1.3.5 -->
                <category android:name="com.example.undercover" /> <!--since 1.3.5 -->
            </intent-filter> <!--since 1.3.5 -->
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
       </receiver>
        
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.undercover" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
      
        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。-->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data android:name="JPUSH_APPKEY" android:value="d0085b49b0682dbbb3a36ff5"/> 
 <!-- 极光推送配置开始 -->
        
        
<activity android:name="editContributeActivity"></activity>
<activity android:name="AddUserNameActivity"></activity>

</application>

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" /><!-- 访问网络 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /><!-- 取WIFI状态 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!-- 写外部存储 -->
    <uses-permission android:name="android.permission.READ_LOGS" /><!-- 读系统日志 -->
	<uses-permission android:name="android.permission.VIBRATE"/><!-- 使用振动 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />  <!-- 用于评论模块分享位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /><!-- 用于评论模块分享位置信息 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/><!-- 显示系统窗口 -->
    <uses-permission android:name="android.permission.GET_TASKS"/><!-- 允许一个程序获取信息有关当前或最近运行的任 -->
    <permission android:name="com.example.undercover.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.example.undercover.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
<!--    
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
     --> 
    
</manifest>